<table class="table">
  <thead>
    <tr>
      {{#each headers as |header|}}
        <th>{{header}}</th>
      {{/each}}
    </tr>
  </thead>
  <tbody>
    {{#each dataRows as |row index|}}
      {{data-row data=row rowNumber=index columnClicked=(action 'columnClicked')}}
    {{/each}}
  </tbody>
</table>
